@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow: hidden;
    font-family: 'Didact Gothic', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(240, 240, 240);
}

canvas {
    display: block;
}

ul {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* Reset ends here.. */

/* My styles */

.container {
    background: url('images/ErdThree.webp') no-repeat center center fixed;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    filter: saturate(160%);
}

.countdown-container {
    max-width: fit-content;
    justify-self: center;
    position: relative;
    z-index: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.counter-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 32px;
}

.timer,
.type {
    font-size: 1rem;
    padding: 0.2rem;
}

.timer {
    position: relative;
    top: 15px;
}

/* Alternatives */

.background-vale {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(90, 44, 0, 0.2);
}

/* particles */

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* media */

@media only screen and (min-width: 500px) {

    .counter-title {
        font-size: 2rem;
    }

    .timer,
    .type {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 724px) {

    .counter-title {
        font-size: 3rem;
    }

    .timer,
    .type {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1200px) {

    .counter-title {
        font-size: 4rem;
    }

    .timer,
    .type {
        font-size: 3rem;
    }

    .timer {
        top: 20px;
    }
}

/* The end... */

/* DeBugging  */