*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow: hidden;
    font-family: 'Didact Gothic', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(240, 240, 240);
}

canvas {
    display: block;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* Reset ends here.. */

/* My styles */

.container {
    background: url('images/Wallpaper_1920x1080_screenshot01.webp') no-repeat center center fixed;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    filter: saturate(150%);
}

.countdown-container {
    max-width: fit-content;
    justify-self: center;
    padding: 15px 15px;
    position: relative;
    z-index: 1;
}

td {
    text-align: center;
    padding: 0 0.5rem;
}

.counter-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
}

.timer,
.type {
    font-size: 1rem;
}

/* Alternatives */

.background-vale {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(90, 44, 0, 0.144);
    z-index: 0;
}

/* particles */

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* media */

@media only screen and (min-width: 500px) {
    .countdown-container {
        padding: 25px 25px;
    }

    .counter-title {
        font-size: 2rem;
    }

    .timer,
    .type {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 724px) {
    .countdown-container {
        padding: 40px 25px;
    }

    .counter-title {
        font-size: 3rem;
    }

    .timer,
    .type {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .countdown-container {
        padding: 40px 25px;
    }

    .counter-title {
        font-size: 4rem;
    }

    .timer,
    .type {
        font-size: 2.5rem;
    }
}

/* The end... */